<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>pricemodifier</name>
  <displayName><![CDATA[Price Modifier]]></displayName>
  <version><![CDATA[0.1.0]]></version>
  <description><![CDATA[Price Modifier is a plugin for PrestaShop for modifying prices by supplier price list.]]></description>
  <author><![CDATA[FP]]></author>
  <tab><![CDATA[front_office_features]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
