{#**
 * Price Modifier
 * Copyright since 2021 JB Stoker and Contributors
 * <JB Stoker> Property
 *

 * @author    JB Stoker <jelmer@ijzershop.nl>
 * @copyright Since 2021 JB Stoker
 * @license   https://opensource.org/licenses/MIT
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% block price_modifications_list_panel %}
    <div class="row">
      <div class="col">
        {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': price_modificationGrid} %}
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/pricemodifier/views/js/price_modifications.bundle.js') }}"></script>
  <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}
