# Cache, temp and personal files
*.log
npm-debug.log.*
.sass-cache/
*.swp
*.swo
.cache/

# Cache
/cache/*
!/cache/.htaccess
!/cache/cachefs/index.php
!/cache/deprecated.txt
!/cache/index.php
!/cache/purifier/index.php
!/cache/push/activity
!/cache/push/index.php
!/cache/push/trends
!/cache/sandbox/index.php
!/cache/smarty/cache/index.php
!/cache/smarty/compile/index.php
!/cache/smarty/index.php
!/cache/tcpdf/index.php

# Download
/download/*
!/download/.htaccess
!/download/index.php


# Upload
/upload/*
upload/editor_uploads/*
!/upload/index.php
!/upload/.htaccess

/docs/phpdoc-sf/
*.hot-update.js
*.hot-update.json

tests/Resources/img/*
tests/Resources/img/tmp/*
tests/Resources/img/tmp/.gitkeep
!tests/Resources/download/.gitkeep
tests/Resources/download/*
tests/Unit/.phpunit.result.cache
.phpunit.result.cache
tests/Integration/.phpunit.result.cache
tests-legacy/.phpunit.result.cache

/admin-dev/autoupgrade/*
!/admin-dev/autoupgrade/index.php
!/admin-dev/autoupgrade/backup/index.php

/admin-dev/backups/*
!/admin-dev/backups/.htaccess

/admin-dev/import/*
!/admin-dev/import/.htaccess
!/admin-dev/import/index.php

/admin-dev/export/*
!/admin-dev/export/.htaccess
!/admin-dev/export/index.php


# Install folder
/install-dev/theme/custom/*
!/install-dev/theme/custom/.gitkeep

# Config

config/defines_custom.inc.php
config/settings.inc.php
config/settings.old.php
config/xml/*
config/themes/*
!config/xml/themes/default.xml
app/config/parameters.old.yml



# Vendors and dependencies
bower_components/
composer.phar
php-cs-fixer
.grunt/*

*sitemap.xml

# Symfony

/bin/
/.web-server-pid
/app/config/parameters.yml
/app/config/parameters.php
/build/
/phpunit.xml

# Symfony var directory
/var/*
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/logs/
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions/
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
!/var/class_stub.php
!/var/modules/
!/var/modules/.gitkeep

/web/bundles/

# Release creation
tools/build/releases/*
!tools/build/releases/.gitkeep

# Docker configuration
install.lock
docker-compose.override.yml
app/config/parameters_backup.php
google_dumps/
themes/modernesmid_theme/assets/cache/
.idea/
dynamicproduct/cache/
