services:
  _defaults:
    public: true

  prestashop.tokenized_url_listener:
    class: MsThemeConfig\EventListener\DmsTokenizedUrlsListener
    arguments:
      - "@security.csrf.token_manager"
      - "@router"
      - "@=service('prestashop.user_provider').getUsername()"
      - "@prestashop.adapter.legacy.context"
    tags:
      - {
        name: kernel.event_listener,
        event: kernel.request,
        method: DmsOnKernelRequest,
      }

  modernesmid.dms_admin_order_preview_service:
    class: 'MsThemeConfig\Service\DmsAdminOrderPreviewService'
    public: false
    decorates: prestashop.adapter.order.query_handler.get_order_preview_handler
    arguments:
      - "@prestashop.core.localization.locale.repository"
      - "@=service('prestashop.adapter.legacy.context').getContext().language.getLocale()"
      - "@prestashop.adapter.address.formatter"

  #    #Add address
  #    modernesmid.adapter.address.command_handler.add_customer_address_handler:
  #        class: 'MsThemeConfig\Adapter\Address\CommandHandler\AddCustomerAddressHandler'
  #        tags:
  #            - name: tactician.handler
  #              command: 'MsThemeConfig\Core\Domain\Address\Command\AddCustomerAddressCommand'
  #
  #    #Edit address
  #    modernesmid.adapter.address.command_handler.edit_customer_address_handler:
  #        class: 'MsThemeConfig\Adapter\Address\CommandHandler\EditCustomerAddressHandler'
  #        tags:
  #            - name: tactician.handler
  #              command: 'MsThemeConfig\Core\Domain\Address\Command\EditCustomerAddressCommand'
  #
  #
  #    #edit cart address
  #    modernesmid.adapter.address.command_handler.edit_cart_address_handler:
  #        class: 'MsThemeConfig\Adapter\Address\CommandHandler\EditCartAddressHandler'
  #        arguments:
  #            - 'msthemeconfig.adapter.address.command_handler.edit_customer_address_handler'
  #        tags:
  #            - name: tactician.handler
  #              command: 'MsThemeConfig\Core\Domain\Address\Command\EditCartAddressCommand'
  #

  prestashop.adapter.address.command_handler.edit_customer_address_handler:
    class: 'MsThemeConfig\Adapter\Address\CommandHandler\EditCustomerAddressHandler'
    tags:
      - name: tactician.handler
        command: 'MsThemeConfig\Core\Domain\Address\Command\EditCustomerAddressCommand'

  #edit cart address
  modernesmid.adapter.address.command_handler.edit_order_address_handler:
    class: 'MsThemeConfig\Adapter\Address\CommandHandler\EditOrderAddressHandler'
    arguments:
      - "@prestashop.adapter.address.command_handler.edit_customer_address_handler"
      - "@prestashop.adapter.order.command_handler.change_order_delivery_address_handler"
      - "@prestashop.adapter.order.command_handler.change_order_invoice_address_handler"
    tags:
      - name: tactician.handler
        command: 'MsThemeConfig\Core\Domain\Address\Command\EditOrderAddressCommand'

  #Get address
  prestashop.adapter.address.query_handler.get_customer_address_for_editing_handler:
    class: 'MsThemeConfig\Adapter\Address\QueryHandler\GetCustomerAddressForEditingHandler'
    tags:
      - name: tactician.handler
        command: 'MsThemeConfig\Core\Domain\Address\Query\GetCustomerAddressForEditing'
  ##
  ##    #form address

  modernesmid.core.form.identifiable_object.data_handler.order_address_form_data_handler:
    class: 'MsThemeConfig\Core\Form\IdentifiableObject\DataHandler\OrderAddressFormDataHandler'
    arguments:
      - "@prestashop.core.command_bus"

  modernesmid.core.form.identifiable_object.handler.order_address_form_handler:
    class: 'PrestaShop\PrestaShop\Core\Form\IdentifiableObject\Handler\FormHandler'
    factory:
      [
        "@prestashop.core.form.identifiable_object.handler.form_handler_factory",
        "create",
      ]
    arguments:
      - "@modernesmid.core.form.identifiable_object.data_handler.order_address_form_data_handler"

  modernesmid.core.form.identifiable_object.data_provider.address_form_data_provider:
    class: 'MsThemeConfig\Core\Form\IdentifiableObject\DataProvider\AddressFormDataProvider'
    arguments:
      - "@prestashop.core.query_bus"
      - '@=service("prestashop.adapter.legacy.context").getContext().country.id'

  modernesmid.core.form.identifiable_object.builder.address_form_builder:
    class: 'PrestaShop\PrestaShop\Core\Form\IdentifiableObject\Builder\FormBuilder'
    factory: ["@prestashop.core.form.builder.form_builder_factory", "create"]
    arguments:
      - 'PrestaShopBundle\Form\Admin\Sell\Address\CustomerAddressType'
      - "@modernesmid.core.form.identifiable_object.data_provider.address_form_data_provider"

  modernesmid.core.form.identifiable_object.handler.address_form_handler:
    class: 'PrestaShop\PrestaShop\Core\Form\IdentifiableObject\Handler\FormHandler'
    factory:
      [
        "@prestashop.core.form.identifiable_object.handler.form_handler_factory",
        "create",
      ]
    arguments:
      - "@modernesmid.core.form.identifiable_object.data_handler.address_form_data_handler"

  modernesmid.core.form.identifiable_object.data_handler.address_form_data_handler:
    class: 'MsThemeConfig\Core\Form\IdentifiableObject\DataHandler\AddressFormDataHandler'
    arguments:
      - "@prestashop.core.command_bus"
      - "@prestashop.adapter.data_provider.customer"

  #PDF generation
  prestashop.adapter.pdf.generator.invoice:
    class: 'MsThemeConfig\Adapter\PDF\PDFGenerator'
    arguments:
      - "@=service('prestashop.adapter.legacy.context').getSmarty()"
      - "@prestashop.adapter.pdf.type_provider.invoice"

  prestashop.adapter.pdf.order_invoice_pdf_generator:
    class: 'MsThemeConfig\Adapter\PDF\OrderInvoicePdfGenerator'
    arguments:
      - "@translator"

  prestashop.adapter.pdf.delivery_slip_pdf_generator:
    class: 'MsThemeConfig\Adapter\PDF\DeliverySlipPdfGenerator'
    arguments:
      - "@translator"

  prestashop.adapter.pdf.generator.credit_slip:
    class: 'MsThemeConfig\Adapter\PDF\PDFGenerator'
    arguments:
      - "@=service('prestashop.adapter.legacy.context').getSmarty()"
      - "@prestashop.adapter.pdf.type_provider.credit_slip"

  prestashop.adapter.pdf.credit_slip_pdf_generator:
    class: 'MsThemeConfig\Adapter\PDF\CreditSlipPdfGenerator'
    arguments:
      - "@translator"
      - "%database_prefix%"
      - "@doctrine.dbal.default_connection"

  prestashop.adapter.pdf.generator.single_invoice:
    class: 'MsThemeConfig\Adapter\PDF\InvoicePdfGenerator'

  #Offer Integration

  modernesmid.grid.definition.factory.offer_integration:
    class: 'MsThemeConfig\Core\Grid\Definition\Factory\OfferIntegrationGridDefinitionFactory'
    parent: "prestashop.core.grid.definition.factory.abstract_grid_definition"
    public: true
    arguments:
      - "@=service('router').generate('admin_common_reset_search', {'controller': 'admin_offer', 'action': 'index'})"
      - "@=service('router').generate('offerintegration_index')"

  modernesmid.grid.query_builder.offer_integration:
    class: 'MsThemeConfig\Core\Grid\Query\OfferIntegrationQueryBuilder'
    parent: "prestashop.core.grid.abstract_query_builder"
    public: true
    arguments:
      - "@prestashop.core.query.doctrine_search_criteria_applicator"
      - "@=service('prestashop.adapter.legacy.context').getContext().language.id"
      - "@=service('prestashop.adapter.legacy.context').getContext().shop.id"

  modernesmid.grid.factory.offer_integrations:
    class: 'PrestaShop\PrestaShop\Core\Grid\GridFactory'
    arguments:
      - "@modernesmid.grid.definition.factory.offer_integration" # our definition factory
      - "@modernesmid.grid.data_provider.offer_integrations"
      - "@prestashop.core.grid.filter.form_factory" # core service needed by grid factory
      - "@prestashop.core.hook.dispatcher" # core service needed by grid factory

  modernesmid.grid.data_provider.offer_integrations:
    class: 'MsThemeConfig\Core\Grid\Definition\Data\OfferIntegrationDataFactory'
    arguments:
      - "@modernesmid.grid.query_builder.offer_integration"
      - "@prestashop.core.hook.dispatcher"
      - "@prestashop.core.grid.query.doctrine_query_parser"
      - "oi_offer"

  # Form services
  modernesmid.type.offer_integrations:
    class: 'MsThemeConfig\Core\Form\OfferIntegrationType'
    parent: "form.type.translatable.aware"
    public: true
    arguments:
      - '@=service("prestashop.adapter.multistore_feature").isUsed()'
    tags:
      - { name: form.type }

  modernesmid.form.identifiable_object.data_provider.offer_integrations_form_data_provider:
    class: 'MsThemeConfig\Core\Form\OfferIntegrationFormDataProvider'
    arguments:
      - "@modernesmid.repository.offer_integrations_repository"

  modernesmid.form.identifiable_object.builder.offer_integrations_form_builder:
    class: 'PrestaShop\PrestaShop\Core\Form\IdentifiableObject\Builder\FormBuilder'
    factory: "prestashop.core.form.builder.form_builder_factory:create"
    arguments:
      - 'MsThemeConfig\Core\Form\OfferIntegrationType'
      - "@modernesmid.form.identifiable_object.data_provider.offer_integrations_form_data_provider"

  modernesmid.form.identifiable_object.data_handler.offer_integrations_form_data_handler:
    class: 'MsThemeConfig\Core\Form\OfferIntegrationFormDataHandler'
    arguments:
      - "@modernesmid.repository.offer_integrations_repository"
      - "@doctrine.orm.default_entity_manager"

  modernesmid.form.identifiable_object.handler.offer_integrations_form_handler:
    class: 'PrestaShop\PrestaShop\Core\Form\IdentifiableObject\Handler\FormHandler'
    factory: "prestashop.core.form.identifiable_object.handler.form_handler_factory:create"
    arguments:
      - "@modernesmid.form.identifiable_object.data_handler.offer_integrations_form_data_handler"

  modernesmid.repository.offer_integrations_repository:
    class: MsThemeConfig\Core\Repository\OfferIntegrationRepository
    factory: ["@doctrine.orm.default_entity_manager", getRepository]
    arguments:
      - 'MsThemeConfig\Entity\OfferIntegration'

  prestashop.core.grid.query_builder.customer_address:
    class: 'MsThemeConfig\Core\Grid\Query\CustomerAddressQueryBuilder'
    parent: "prestashop.core.grid.abstract_query_builder"
    arguments:
      - "@prestashop.core.query.doctrine_search_criteria_applicator"
      - "@=service('prestashop.adapter.legacy.context').getContext().language.id"
      - '@=service("prestashop.adapter.shop.context").getContextListShopIDUsingCustomerSharingSettings()'
    public: true
