{% if (record.informer_identification is not same as('0')) and (record.informer_identification is not empty)  %}
  <div class="w-100 text-center"><span class="badge badge-success-hover" style="font-size: 0.9em!important;">Informer ID: {{ record.informer_identification }}</span></div>
{% endif %}


