#module-billinkpayment-payment .page_container{border: 1px solid #e8e8e8; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0;}
#module-billinkpayment-payment .page_container h2{background:#e8e8e8; padding:10px 15px; margin:0;}
#module-billinkpayment-payment .page_container form
{padding:0 15px; margin:0;}

#module-billinkpayment-paymenterr .page_container{border: 1px solid #e8e8e8; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0;}
#module-billinkpayment-paymenterr .page_container h2{background:#e8e8e8; padding:10px 15px; margin:0;}
#module-billinkpayment-paymenterr .page_container error{margin:15px;}

#module-billinkpayment-payment .page_container .price{font-size:18px;}