<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>displaybocategorytopdescription</name>
	<displayName><![CDATA[Display BO Category Top description]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Displays an additional top description field in the category back office]]></description>
	<author><![CDATA[Ijzershop]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>