## Disable index view
#Options -Indexes
#
## Hide a specific file
#<Files .env>
#    Order allow,deny
#    Deny from all
#</Files>
#
#<Files ~ "^\.env(.*)$">
#    Order allow,deny
#    Deny from all
#</Files>
#Header set X-Frame-Options "SAMEORIGIN"
#Header set X-XSS-Protection "1; mode=block"
#Header set X-Content-Type-Options "nosniff"
