  .ui-front{z-index:100;}
  .ui-autocomplete{position:absolute;top:0;left:0;cursor:default;}
  .ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:0;}
  .ui-widget{font-family:Open-sans, sans-serif;font-size:1.1em;}
  .ui-widget-content{border:1px solid #aaa;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAABkAQAAAADcH0/XAAAAEUlEQVR4AWP4DwLUJUfJURIAypHyHErLyzcAAAAASUVORK5CYII=) 50% 50% repeat-x;color:#222;}
  .ui-corner-all{border-top-left-radius:4px;}
  .ui-corner-all{border-top-right-radius:4px;}
  .ui-corner-all{border-bottom-left-radius:4px;}
  .ui-corner-all{border-bottom-right-radius:4px;}
  .ui-widget{font-family:Open-sans, sans-serif;font-size:1.1em;}
  .ui-widget-content{border:1px solid #aaa;background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAABkAQAAAADcH0/XAAAAEUlEQVR4AWP4DwLUJUfJURIAypHyHErLyzcAAAAASUVORK5CYII=) 50% 50% repeat-x;color:#222;}
  .ui-corner-all{border-top-left-radius:4px;}
  .ui-corner-all{border-top-right-radius:4px;}
  .ui-corner-all{border-bottom-left-radius:4px;}
  .ui-corner-all{border-bottom-right-radius:4px;}
  .ui-front{z-index:4!important;}
  ul#ui-id-2{border-top-right-radius:4px;border-top-left-radius:4px;border:none;}

  ul#ui-id-2.ui-menu{
    padding: 0;
    margin-top:16px!important;
  }

  ul#ui-id-2 p {
margin-bottom: 0;
  }

  ul#ui-id-2 li{
    cursor: pointer;
    background-image: none;
    font-weight: 400;
    color: #212121;
    padding: 10px 0px;
  }
  ul#ui-id-2 li:hover{
    background-color: #cccccc!important;
}

  .ui-helper-hidden {
    display: none;
  }
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
  }
  .ui-helper-clearfix:before,
  .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
  }
  .ui-helper-clearfix:after {
    clear: both;
  }
  .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)"; /* support: IE8 */
  }

  .ui-front {
    z-index: 100;
  }

  .rotate-center{-webkit-animation:rotate-center .6s linear infinite both;animation:rotate-center .6s linear infinite both}
  /* ----------------------------------------------
 * Generated by Animista on 2022-9-7 11:5:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * animation rotate-center
   * ----------------------------------------
   */
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  .search_widget button.btn{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-left:0;
    color:#666666;
  }


  .no-result-msg{
    padding: 25px 3px;
    font-weight: bold;
    color: red;
  }


  a.ui-menu-item-wrapper:hover {
    color: #283a74;
    text-decoration: none;
  }
