@media (min-width: 100px) and (max-width: 767px) {
	span.orderDynamicProductBtnText{
		display: inline-block;
	}
	.dynamicproduct-button{
		width: 100%;
	}
}

@media (min-width: 767px) {
	span.orderDynamicProductBtnText{
		display:none;
	}
	.dynamicproduct-button{
		width: auto;
	}
}

.dp_input_div{
  padding-left:0px!important;
}
