input-group-length
input-group-width
btn-group-single-cut@media (max-width: 394px) {
  #cut_example_canvas {
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 200px;
    height: 100px;
  }
}

@media (min-width: 395px) and (max-width: 494px) {
  #cut_example_canvas {
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 300px;
    height: 150px;
  }
}

@media (min-width: 495px) {
  #cut_example_canvas {
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 400px;
    height: 200px;
  }
}

.plate-chunk input {
  max-width: 70px;
}

.plate-chunk .input-group {
  max-width: 140px;
}

.plate-chunk, .plate-chunk input, .plate-chunk .input-group-text {
  font-size: 13px;

}

.plate-check {
  font-size: 13px;
}

.cut-prepend-letter {
  font-size: 13px;
  line-height: 30px;
}

/*    .was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .form-control:valid, .form-control.is-valid{
        background-image: none;
    }*/

.bootstrap-touchspin .btn-touchspin {
  display: none;
}

.product-quantity .input-group {
  float: left;
}


.sawform .modal-header i {
  position: absolute;
  right: 40px;
}

.sawform .modal-header {
  display: block;
}

#saw-info-2 {
  margin-top: 20px;
}

.sawform-totalen label {
  font-weight: bold
}

.sawform .form-control.saw-check {
  background: #ffffff;
}

.sawform input,
.cutform input {
  border: 1px solid rgba(0, 0, 0, .15);
}

.sawform #price-specification {
  padding-left: 25px;
  padding-right: 20px;
}

#saw-info-1,
#saw-info-2 {
  padding: 0 15px;
}

.sawform .modal-title,
.cutform .modal-title,
.staffelform .modal-title,
.reviewform .modal-title {
  font-size: 1.0rem !important;
}

.remainder-hr {
  border-color: #797979;
}

#saw-info-1,
#saw-info-2,
#saw-info-2 a,
#saw-info-1 a,
#saw-info-3 {
  color: blue;
}

.sawform .modal-header,
.cutform .modal-header,
.staffelform .modal-header,
.reviewform .modal-header {
  border-color: #eee;
}

.sawform .modal-body,
.cutform .modal-body,
.staffelform .modal-body,
.reviewform .modal-body {
  padding-left: 15px;
  padding-right: 15px;
}

.cutform .error-message {
  margin-left: 15px;
  margin-top: 10px;
}

/*#saw-modal .modal-dialog,
#cut-modal .modal-dialog,
#staffel-modal .modal-dialog,
#review-modal .modal-dialog {
    width: 580px !important;
    max-width: 100% !important;
}
*/
.sawform .modal-content,
.cutform .modal-content,
.staffelform .modal-content,
.reviewform .modal-content {
  border-radius: 10px;
  margin: 0;
}

.icon-info {
  content: url(../img/info.png);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;

}

.price-specification-table tbody tr td:nth-child(2) {
  text-align: right;
}

.error-message {
  color: red;
}

#saw-modal h4.modal-title {
  margin-right: 1em !important;
}

#saw-modal h4:after {
  content: "" !important;
  display: none !important;
  position: relative !important;
  width: 0 !important;
  height: 0 !important;
}

#saw-modal #spinner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

#saw-modal #spinner .icon {
  font-size: 60px;
  color: #ccc;
}

#saw-modal .prices {
  margin-top: 0.8em;
}

#saw-modal #subtotal_excl {
  border-top: 1px solid #777;
}

.removePlateCut {
  float: right;
  font-size: 12px;
  font-weight: bold;
}

.platecutlength.text {
  transform: rotate(90deg);
  transform-origin: right top;
  position: absolute;
}

span.platecutlength.orientation.portrait {
  right: 35%;
  top: 60%;
}

span.platecutlength.orientation.landscape {
  right: 30%;
  top: 40%;
}

.platecutwidth {
  width: 100%;
  text-align: center;
  float: left;
}

.cut_option_price {
  float: right;
  color: #ccc;
}

.price-td {
  width: 80px;
  text-align: right;
}

.saw-chunk .col-sm-4,
.saw-chunk .col-sm-2,
.zaagsnedes-remainder {
  padding-top: 8px;
}

.subtotal-inc-price {
  margin-left: 15px;
}

button.input-group-addon.extra-cut {
  color: #fff;
  background-color: #3a9a56;
  border-color: #389252;
}

/*Prijzen ongebruikt*/
div.input-price {
  color: #ccc;
  text-decoration: line-through;
}

div.input-price.chosen {
  color: #000;
  text-decoration: none;
}

.staffel-button,
.saw-button,
.cut-button:not(#back),
.extended-cut-button:not(#back),
.review-button,
.sawcutting .btn-group > .btn,
.platecutting .btn-group > .btn:not(#cut):not(#clear):not(#switch):not(#back) {
  color: #333;
  text-transform: initial !important;
  width: 100%;
  background-color: #fff;
  border-color: #ccc;
  height: 38px!important;
  max-width: 100%;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
  position: relative;
}

.staffel-button:hover,
.saw-button:hover {
  background-color: #ebebeb;
}

.saw-button svg{
  font-size: 1.8em;
}
.staffel-button svg,.cut-button svg{
  font-size: 1.6em;
}

/*.saw-button .icon-saw:before {*/
/*  width: 14px;*/
/*  content: " ";*/
/*  background-image: url(../img/saw-icon.png);*/
/*  position: absolute;*/
/*  margin-left: -15px;*/
/*  vertical-align: middle;*/
/*  top: calc(100% - 75%);*/
/*  height: 14px;*/
/*  background-size: 14px;*/
/*}*/

.saw-button .icon-cog:before {
  width: 16px;
  content: " ";
  background-image: url(../img/cog-icon.png);
  position: absolute;
  left: 8px;
  font-size: 16px;
  vertical-align: middle;
  top: calc(100% - 75%);
  height: 16px;
}

.staffel-button .icon-cog:before {
  width: 14px;
  content: " ";
  background-image: url(../img/staffel-icon.png);
  position: absolute;
  left: 8px;
  font-size: 16px;
  vertical-align: middle;
  height: 14px;
  background-size: 14px;
}

.product_list.list .product_list_item {
  padding-bottom: 5px;
  padding-top: 5px;
}

.product_list.list .product-desc {
  margin-bottom: 5px;
}

.product_list.list .ajax_block_product .s_title_block {
  margin-bottom: 0;
}

.product-list-buttons-wrapper {
  display: flex;
  /*position: absolute;*/
  right: 0;
  top: 0;
  align-items: center;
}

#product-list-wrap .product-price-and-shipping {
  padding: 0 8px;
  text-align: right;
  line-height: 16px !important;
}

.product-list-descr-wrapper {
  padding-right: 8px;
  padding-left: 8px;
  min-height: 75px;
  display: inline-table;
}


@media (min-width: 992px) {
  .product-list-buttons-wrapper div .row {
    width: 174px;
  }

  .product-list-buttons-wrapper {
    position: absolute;
  }
}

@media (max-width: 991px) {

  .saw-button .icon-cog:before,
  .staffel-button .icon-cog:before {
    left: 14px !important;
  }

}

.ajax_block_product .price {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #000000 !important;
}

.price.st_second_price {
  font-size: 14px !important;
  font-weight: 100 !important;
  color: #777777 !important;
}

.product-prices .current-price .price {
  font-weight: 600 !important;
  color: #000000 !important;

}

@media (min-width: 1200px) {
  .product-list-descr-wrapper {
    max-width: calc(100% - 444px);
  }
}


@media (min-width: 768px) and (max-width: 991px) {

  .product-list-descr-wrapper {
    max-width: 290px;
  }
}

.product_list.list .ajax_block_product .pro_second_box {
  margin-left: 0 !important;
  padding-top: 0;
}


@media (max-width: 767px) {
  .product_list.list .ajax_block_product .s_title_block {
    margin-top: 5px;
  }

  .product_img_link img.front-image {
  }

  .product_list_item .pro_first_box {
    position: absolute;
  }

  .staffel-button,
  .saw-button,
  .cut-button,
  .review-button {
    /*width: 40px!important;*/
  }

  .pro_first_box {
    float: left !important;
  }

  .product_list.list .ajax_block_product .pro_first_box {
    max-width: 106px !important;
    max-height: 106px !important;
  }

  .product-list-descr-wrapper {
    max-width: 100% !important;
    float: left;
    height: auto;
    overflow: hidden;
    display: block;
    position: relative;
    margin-left: 110px;
  }

  .staffel-button,
  .saw-button,
  .cut-button,
  .review-button {
    /*width: 40px!important;*/
  }

  .product-list-buttons-wrapper {
    display: flex;
    position: relative !important;
    padding-top: 10px;
    margin-left: 15px;
    width: 100%;
    text-align: right;
  }

  article .pro_outer_box .pro_first_box {
    margin-right: 15px;
  }

  .product_list_item {
    padding-top: 0 !important;
  }
}

.product_list .pro_quantity.form-control {
  color: #777 !important;
  border-color: #ccc !important;
}

.product_list .btn-touchspin {
  border-color: #ccc !important;
  color: #ccc !important;
}

/* The switch - the box around the slider */
#saw-modal .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 12px;
  line-height: 12px;
}

/* Hide default HTML checkbox */
#saw-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
#saw-modal .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#saw-modal .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -4px;
  border: 1px solid #ccc;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#saw-modal input:checked + .slider {
  background-color: #2196F3;
}

#saw-modal input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#saw-modal input:checked + .slider:before {
  border: 1px solid #2196F3;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
#saw-modal .slider.round {
  border-radius: 12px;
}

#saw-modal .slider.round:before {
  border-radius: 50%;
}

/* The switch - the box around the slider */
#cut-modal .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 12px;
  line-height: 12px;
}

/* Hide default HTML checkbox */
#cut-modal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
#cut-modal .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#cut-modal .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -4px;
  border: 1px solid #ccc;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#cut-modal input:checked + .slider {
  background-color: #2196F3;
}

#cut-modal input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#cut-modal input:checked + .slider:before {
  border: 1px solid #2196F3;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
#cut-modal .slider.round {
  border-radius: 12px;
}

#cut-modal .slider.round:before {
  border-radius: 50%;
}

.product-information .zaagsnedes .btn span.info,.zaagsnedes .btn span.info{
  white-space: normal;
  line-height: 1.4rem!important;
  vertical-align: top;
}

.btn.staffel-button{
  white-space: normal;
  line-height: 1.8rem!important;
  vertical-align: sub;
}


.btn.staffel-button svg{
  white-space: normal;
  vertical-align: sub;
}

.product-information .platecutting,
.product-information .zaagsnedes,
.product-information .zaagsnedes .col-sm-4 {
  text-align: left !important;
}

.product-information .saw-button,
.product-information .review-button,
.product-information .staffel-button {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.product-information .staffel-button {
  margin-bottom: 10px;
}

#product .pcomments_block {
  display: none !important;
}

@media (max-width: 580px) {
  #product .product-information .pro_price_block .col-sm-4 {
    width: 100% !important;
    display: block;
    padding: 0;
    float: left;
    min-width: 100%;
    position: relative;
    max-width: 100%;
    text-align: center;
  }

  #product .product-information .pro_price_block {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
  }

  #product .product-quantity .qty_wrap_big div {
    width: 100%;
    float: left;
  }
}


/*Platecut viualizer*/
/**
 * Extra small devices (portrait phones, less than 576px)
 * No media query since this is the default in Bootstrap
 **/
#canvas-container-block {
  width: 225px;
  height: auto;
  margin: 0 auto;
}

/**
 * Extra small devices (portrait phones, less than 576px)
 * Small devices (landscape phones, 576px and up)
 **/
@media (min-width: 576px) {
  #canvas-container-block {
    width: 400px;
    height: auto;
    margin: 0 auto;
  }
}

/**
 * Extra small devices (portrait phones, less than 576px)
 * Medium devices (tablets, 768px and up)
 **/
@media (min-width: 768px) {
  #canvas-container-block {
    width: 450px;
    height: auto;
    margin: 0 auto;
  }
}

/**
 * Extra small devices (portrait phones, less than 576px)
 * Large devices (desktops, 992px and up)
 **/
@media (min-width: 992px) {
  #canvas-container-block {
    width: 450px;
    height: auto;
    margin: 0 auto;
  }
}

/**
 * Extra small devices (portrait phones, less than 576px)
 * Extra large devices (large desktops, 1200px and up)
 **/
@media (min-width: 1200px) {
  #canvas-container-block {
    width: 450px;
    height: auto;
    margin: 0 auto;
  }
}

#canvas-container, #canvas-container tr{
  background-color: #ffffff!important;

}

#canvas {
  display: block;
  background-color: #ffffff;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.05rem #fff;
}

input[type=number] {
  font-size: 15px;
}

span#landscape-arrow {
  -webkit-transform: rotate(-0deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(-0deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(-0deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(-0deg);
  -o-transform-origin: left top;
  transform: rotate(-0deg);
  transform-origin: left top;
  position: absolute;
  top: 125px;
  width: 15px;
  font-size: 10px;
  right: 2%;
  line-height: 28px;
}

#cut-modal .alert.fade:not(.show) {
  opacity: 0;
  height: 0;
  margin: 0 0 0 0;
  padding: 0;
}


#singleCutResultTable{
  color:#777777;
}
#singleCutResultTable tr{
  background-color:#ffffff!important;
}
#singleCutResultTable tr td{
  line-height: 25px;
  font-size:15px;
  vertical-align: middle;
  border-width: 0px;
}
#singleCutResultTable tr td span.bg-primary{
  background-color: rgba(59, 86, 173, 1)!important;
}
#singleCutResultTable tr td span{
  display:inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
#singleCutResultTable tr td:nth-child(2){
  line-height: 15px;
  font-size:15px;
  font-weight: bold;
}

#price-specification-table tr td{
  border-width: 0px;
}
#price-specification-table tr{
  background-color: #ffffff!important;
}

