{#**
 * Price Modifier
 * Copyright since 2021 JB Stoker and Contributors
 * <JB Stoker> Property
 *

 * @author    JB Stoker <jelmer@ijzershop.nl>
 * @copyright Since 2021 JB Stoker
 * @license   https://opensource.org/licenses/MIT
 *#}
{% extends '@PrestaShop/Admin/layout.html.twig' %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      {% include '@Modules/msthemeconfig/views/templates/admin/offer_form.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/msthemeconfig/views/js/oi_admin.js') }}"></script>


{% endblock %}
